.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.navbar a:hover {
    color: #1f9cf0;
}

#hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(https://i.pinimg.com/originals/2e/dc/06/2edc0680c0d2a34299ba46be7707b2fb.jpg);
    /* background-color: black; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.86;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
    color: white;
}

#about, #experiences, #contact, footer {
    background-color: black;
    opacity: 0.86;
    color: white;
}

.title {
    border-top: 1px chartreuse solid;
    color: chartreuse;
}

#experiences p span {
    color: #1f9cf0;
}

#contact a {
    text-decoration: none;
    color: white;
    font-style: italic;
    font-size: 20px;
}